

<footer class="page-footer transparent ">
  <div class="container center-align">  
      <div {% if request.endpoint != "index" %} id="futer_ikonice" {% endif %}>
        <a class="" href="#!"><i class="flaticon-vimeo tooltipped" data-position="top" data-delay="50" data-tooltip="vimeo"></i></a>&nbsp
        <a class="" href="#!"><i class="flaticon-linkedin tooltipped"  data-position="top" data-delay="50" data-tooltip="linkedin"></i></a>&nbsp
        <a class="" href="#!"><i class="flaticon-facebook tooltipped"  data-position="top" data-delay="50" data-tooltip="facebook"></i></a>&nbsp
      </div>
  </div>
  
  <div class="footer-copyright transparent" {% if request.endpoint != "index" %} id="futer_text" {% endif %}>
    <div class="container center-align ">

          <p > ©2018 Aleksandar Jovanovic and Respective Studios | All images are for showreel purposes only.</p>
          <p style="font-size: 0.8em;"> icons by: <a class="cyan-text" href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a></p>  
      </div>
  </div>

</footer>












