

<footer class="page-footer transparent ">
  <div class="container center-align">  
      <div {% if request.endpoint != "index" %} id="futer_ikonice" {% endif %}>
        <a class="" href="https://vimeo.com/user4673150" target="_blank"><i class="flaticon-vimeo tooltipped" data-position="top" data-delay="350" data-tooltip="vimeo"></i></a>&nbsp
        <a class="" href="#!" target="_blank"><i class="flaticon-linkedin tooltipped"  data-position="top" data-delay="350" data-tooltip="linkedin"></i></a>&nbsp
        <a class="" href="#!" target="_blank"><i class="flaticon-facebook tooltipped"  data-position="top" data-delay="350" data-tooltip="facebook"></i></a>&nbsp
        <a class="" href="#!" target="_blank"><i style="margin-left: 20px; line-height: 1; font-size: 24px;" class="fab fa-imdb "></i></a>&nbsp
      </div>
  </div>
  
  <div class="footer-copyright transparent" {% if request.endpoint != "index" %} id="futer_text" {% endif %}>
    <div class="container center-align ">

          <p > ©2018 Aleksandar Jovanovic and Respective Studios | All images are for showreel purposes only.</p>
          <p style="font-size: 0.8em;">site by: <a class="cyan-text" href="https://github.com/luckybugs" target="_blank" >Luckybugs</a> | icons by: <a class="cyan-text" href="https://www.flaticon.com/authors/pixel-perfect" target="_blank" >Pixel perfect</a></p>  
      </div>
  </div>

</footer>












