

{% macro render_field(field) %}

{% set class_ = kwargs.pop('class_', '') %}



{% if field.errors|length == 0 %}
        
        {{ field(class_=class_, **kwargs) }}

{% else %}
  
        {% if field.errors  %}
        
        {% set class_ = class_ + ' validate invalid ' %}
                {% for error in field.errors %} 
    
 
                 {% endfor %}
   
        {% else %}
    
            {% set class_ = class_ + ' validate valid' %}
  
        {% endif %}


        {{ field(class_=class_, **kwargs) }}


      {% if field.errors  %}

        {% for error in field.errors %} 
            
            {{field.label(data_error=error, class_="")}}  
     
        {% endfor %}
       
      {% else %}
       
        {{field.label( data_success='ok', class_="")}}  
            
      {% endif %}


 {% endif %}

  
{% endmacro %}