
<div class="navbar-fixed ">

  <nav id="navigacija" {% if request.endpoint == "index" %} class="transparent z-depth-0 tirkizgrad" {% else %} class="  z-depth-0 tirkizgrad"{% endif %}>

    <div class="nav-wrapper ">
      <a  href="/"  class="brand-logo" >
        <span class="rwd-line"><b>aleksandar</b> jovanovic |</span>
        <span class="rwd-line center-align">environment TD</span></a>

      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        
        <li><a class="btn waves-effect waves-light cyan" href="/showreel">Showreel</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a class="tooltipped" data-position="bottom" data-delay="400" data-tooltip="comming soon"href="#">Articles</a></li>
       <li><a href="/about">About</a></li>

    </div>

  </nav>
</div>
    </ul>
      <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/showreel">Showreel</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="#">Articles</a></li>
      <li><a href="/about">About</a></li>
    </ul>



