
<div class="navbar-fixed ">
  <nav class="{{ klasa }}">
    <div class="nav-wrapper">
      <a   href="#" class="brand-logo " ><b>aleksandar </b>jovanovic.enviroment TD</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li><a href="/">Home</a></li>
        <li><a href="/showreel">Showreel</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/about">About</a></li>
    </div>
  </nav>
</div>
    </ul>
      <ul class="side-nav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/showreel">Showreel</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/about">About</a></li>
    </ul>



