body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }

main {
    flex: 1 0 auto;
  }



.brand-logo {
	margin-left: 3vw;
  

	font-weight: 100;
}
.nav-wrapper{
  height: 20vh;
}

/*.center {
  position: fixed;
  top: 50%;
  left: 50%;
   bring your own prefixes 
  transform: translate(-50%, -50%);
}*/

@media only screen and (max-width: 600px) {
  .navbar-fixed {

    height: 7rem;
  }

}

@media screen and (min-width: 600px){
    .navbar-fixed { height: 6rem;}
        }


#navigacija {
  height: 10rem;

}

@media only screen and (max-width: 600px) {
  .page_h{
    font-size: 1.8rem;
  }


}

.page_h{

  padding-bottom: 0.8em;
  font-weight: 100;

}

.tirkizgrad{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bcd4+0,7db9e8+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(0,188,212,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,188,212,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,188,212,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd4', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

}

.ljubicastigrad{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,ce93d8+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(206,147,216,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(206,147,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(206,147,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ce93d8',GradientType=0 ); /* IE6-9 */
}
.ljubicastigrad2{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ce93d8+0,ffffff+100&0.01+0,0.4+50,0+100 */
background: -moz-linear-gradient(left, rgba(206,147,216,0.01) 0%, rgba(231,201,236,0.4) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(206,147,216,0.01) 0%,rgba(231,201,236,0.4) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(206,147,216,0.01) 0%,rgba(231,201,236,0.4) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ce93d8', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.beligrad{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7f7f7f+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(127,127,127,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(127,127,127,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(127,127,127,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a67f7f7f',GradientType=0 ); /* IE6-9 */
}
.page-footer {
  z-index: 950;
  margin-top: 6vh;

}

#futer_text, #futer_ikonice a  {
  color: #424242;
}

.page-footer a {
  color: #fff;
}



@media only screen and (max-width: 600px) {

   .rwd-line { 
      font-size: 0.9em; 
   }


}
.rwd-line { 
  display: block;

 }
 @media screen and (min-width: 600px){
    .rwd-line { display: inline;}
        }


.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 3vw;
  margin-top: ;
}






.slider .slides li .caption {
  color: #fff;
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  opacity: 0;
  
}

.slider .slides li .caption h3{
  font-weight: 500;

}

/*text on project page */

.prtext{
  padding: 0.5em;
  margin-top: 0.8em;
  font-weight: 300;
  text-align: justify;
  text-justify: auto;

}

.prtitle h2{
  font-weight: 100;
  font-size: 3.4em;
  color: #424242;

  margin-bottom: 0.1em;

}
@media screen and (max-width: 600px){
    .prtitle h2{font-size: 2.2em;}
        }




/* FORM STYLE */

  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color:#00bcd4  !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #00bcd4  !important;
     box-shadow: 0 1px 0 0 #00bcd4  !important;
   }

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #00bcd4  !important;
   }
  /* label underline focus color */
   .input-field textarea.materialize-textarea:focus {
     border-bottom: 1px solid #00bcd4  !important;
     box-shadow: 0 1px 0 0 #00bcd4  !important;
   }







/* gallery with overlay from somever on the netz */
*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}




.h_container{
  padding: 1% 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .h_container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .h_container{
    width: 50%;
  }
}



.content {
  position: relative;
  width: 96%;
  max-width: 600px;
  max-height: 300px;

  margin: auto;
  overflow: hidden;
}

.content:hover .content-overlay {
  background: rgba(206,147,216, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content::hover .content-overlay{
  opacity: 1;
}

.content-image{
object-fit: cover;
width: 100%;
height: 300px;

}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content::hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 0;
}

.content-details h3{
  color: #fff;
  font-weight: 100;

}
.content-details h6{
  color: #fff;
  font-weight: 100;
  font-size: 1.5em;

}

.content-details p{
  color: #fff;
  font-size: 1em;
}

.fadeIn-bottom{
  top: 50%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}