  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }

  main {
    flex: 1 0 auto;
  }

.below {
  position: absolute;
  top:100%;
  left:0px;
  right:0px;
  padding:50px;  
}

.brand-logo {
	margin-left: 3vw;
  height: 20vh;

	font-weight: 100;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.navbar-fixed {

  height: 5vh;

}

#navigacija {
  height: 20vh;

}

.page_h{
  padding: 1em;
  font-weight: 100;
}

.tirkizgrad{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bcd4+0,7db9e8+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(0,188,212,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,188,212,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,188,212,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd4', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

}

.ljubicastigrad{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,ce93d8+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(206,147,216,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(206,147,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(206,147,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#ce93d8',GradientType=0 ); /* IE6-9 */
}

.page-footer-fixed {
  z-index: 5000;
}



.rwd-line { 
  display: block;
 }
 @media screen and (min-width: 600px){
    .rwd-line { display: inline; }
        }


.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.d-flex {
    display:flex;
    flex: 1;
}
.project_card {
  border-radius: 5px ;
}

.project_card_image {
  border-radius: 5px 5px 0 0;
}

.project_card a:hover {
    color: #424242;
    font-size: 2.25em;
}

.project_card a {
  color: #757575;
  font-weight: 600;
  font-size: 1em;
}

.caption{
  color:#757575;

}





/* FORM STYLE */

/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #424242;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #424242;
 box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text]:focus + label {
 color: #424242;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #424242;
 box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=email]:focus + label {
 color: #424242;
}
.input-field input[type=textarea]:focus {
 border-bottom: 1px solid #424242;
 box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=textarea]:focus + label {
 color: #424242;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #757575;
}







*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}




.h_container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .h_container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .h_container{
    width: 50%;
  }
}



.content {
  position: relative;
  width: 96%;
  max-width: 600px;
  max-height: 300px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.1);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;

}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 100;

}
.content-details h6{
  color: #fff;
  font-weight: 100;
  font-size: 1.5em;

}

.content-details p{
  color: #fff;
  font-size: 1em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}