{% extends 'layout.html' %}

{% block body %}

<div class="container">

  <div>
  <h3 class=" page_h center-align"> About</h3>
  </div>
<div class-"section">
    <div style="height: 3em;">
    </div>
    <div class="center-align">
      <img class="responsive-img circle" src="{{ url_for('static', filename='images/about_foto.jpg')}}">
    </div>
</div>
<div class="divider"></div>
   <!-- Contacct form -->
   {% from "includes/_formhelpers.html" import render_field %}
   <form method="POST">
      <div class="row">
         <div class="input-field col s12 m6">
            <i class="material-icons prefix">person</i>
           {{render_field(form.name, class_="validate")}}
           
         </div>
         <div class="input-field col s12 m6">
            <i class="material-icons prefix">mail</i>
           {{render_field(form.email, class_="validate")}}
           <label class="active" for="email">Email</label>
         </div>
       </div>
     <div class="input-field">
        <i class="material-icons prefix">create</i>
       {{render_field(form.message, class_="materialize-textarea")}}
       <label class="active" for="textarea"></label>
     </div>
     <button class=" btn waves-effect waves-light grey darken-3 right" type="submit" value="Submit" name="action" >Send</button>
   </form>


    
</div><!--end container-->
{% endblock %}