{% extends 'layout.html' %}

{% block body %}

<div class="container">
<div class-"section">
    <div style="height: 3em;">
    </div>
    <div class="center-align">
      <img class="responsive-img circle" src="{{ url_for('static', filename='images/about_foto.jpg')}}">
    </div>
</div>
<div class="divider"></div>
   <!-- Contacct form -->
   <form style="width: 40%;">
      <div class="row">
         <div class="input-field col s12 m6">
            <i class="material-icons prefix">person</i>
           <input type="text" id="name">
           <label class="active" for="name">Name</label>
         </div>
         <div class="input-field col s12 m6">
            <i class="material-icons prefix">mail</i>
           <input type="email" id="email" class="validate">
           <label class="active" for="email">Email</label>
         </div>
       </div>
     <div class="input-field">
        <i class="material-icons prefix">create</i>
       <textarea type="text" id="textarea" class="materialize-textarea"></textarea>
       <label class="active" for="textarea">Textarea</label>
     </div>
     <button class=" btn waves-effect waves-light grey darken-3 right" type="submit" name="action">Send</button>
   </form>


    
</div><!--end container-->
{% endblock %}