{% extends 'layout.html' %}

{% block body %}
<div id="home">
   <div class="slider  fullscreen">
    <ul class="slides">
      

      <li>
        <img src="{{ url_for('static', filename='images/The_Jungle_Book.jpg') }}"> <!-- random image -->
        <div class="caption center-align">
          <h3>The Jungle Book</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li >
        <img src="{{ url_for('static', filename='images/star_wars.jpg') }}"> <!-- random image -->
        <div class=" caption center-align">
          <h3>Star Wars</h3>
          <h5 class="light grey-text text-lighten-3">The Last Jedi</h5>
        </div>  
      </li>
      <li >
        <img src="{{ url_for('static', filename='images/Martian.jpg') }}"> <!-- random image -->
        <div class=" caption center-align">
          <h3>The Martian</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>  
      </li>
      
      <li>
        <img src="{{ url_for('static', filename='images/Exodus.jpg') }}"> <!-- random image -->
        <div class="caption center-align">
          <h3>Exodus</h3>
          <h5 class="light grey-text text-lighten-3">Gods and Kings</h5>
        </div>
      </li>
      <li>
        <img src="{{ url_for('static', filename='images/galaxy.jpg') }}"> <!-- random image -->
        <div class="caption center-align">
          <h3>Guardians Of The Galaxy</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>


    </ul>
</div>



{% endblock %}