<!DOCTYPE html>
<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='icons/flaticon.css')}}">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Aleksandar Jovanovic</title>
    </head>

<body >
    {%include 'includes/_navbar.html'%}

  
    <main>
    
        {% block body %}{% endblock %}
    </main>
    
    {%include 'includes/_footer.html'%}


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!--Import jQuery Initialization for the image carousel-->
    <script>
    $(document).ready(function(){
    	// Init Slider
    	$('.slider').slider(
        {indicators: false}
        );
    	
    	// Init lightbox
    	$('.materialboxed').materialbox();
   		
   		// Init sidenav
    	$(".button-collapse").sideNav();

      $('.collapsible').collapsible();

      $('.carousel.carousel-slider').carousel({fullWidth: true});

      Materialize.updateTextFields();



    });
      // // change on scroll
      // $(document).scroll(function () {
      //   var $nav = $(".navbar-fixed");
      //     $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      //  });

    {% include 'includes/_messages.html' %}

    </script>




    
</body>


</html> 