<!DOCTYPE html>
<html>
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8421418-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-8421418-1');
      </script>

      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='icons/flaticon.css')}}">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Aleksandar Jovanovic</title>
    </head>

<body >
    {%include 'includes/_navbar.html'%}

  
    <main>
    
        {% block body %}{% endblock %}
    </main>
    
    {%include 'includes/_footer.html'%}


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <!--Import jQuery Initialization for the image carousel-->
    <script>
    $(document).ready(function(){
    	// Init Slider
    	$('.slider').slider(
        {indicators: false, interval: 4000}
        
        );
    	
    	// Init lightbox
    	$('.materialboxed').materialbox();
   		
   		// Init sidenav
    	$(".button-collapse").sideNav();

      $('.collapsible').collapsible();

      $('.carousel.carousel-slider').carousel({fullWidth: false});


    });

      // change on scroll
      $(document).scroll(function () {
        var $nav = $(".ovo");
        $nav.toggleClass('hide-on-med-and-down', $(this).scrollTop() >= 50);
      });
    

    </script>
    {% include 'includes/_messages.html' %}

    <!-- Default Statcounter code for inbitwin.com
    http://www.inbitwin.com/ -->
    <script type="text/javascript">
    var sc_project=4359554; 
    var sc_invisible=1; 
    var sc_security="4dbfa02c"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics
    Made Easy - StatCounter" href="http://statcounter.com/"
    target="_blank"><img class="statcounter"
    src="//c.statcounter.com/4359554/0/4dbfa02c/1/" alt="Web
    Analytics Made Easy - StatCounter"></a></div></noscript>
    <!-- End of Statcounter Code -->




    
</body>


</html> 