{% extends 'layout.html' %}

{% block body %}


  <div>
  <h4 class="page_h center-align"> Projects</h4>
  </div>



<div class="container ">



  {% for project in projects %}

  <div class="  h_container">
    <div class=" content ">
      <a href="projects/{{project.page | urlencode}}" >
        <div class="content-overlay"></div>
        <img class="content-image" src="{{url_for('static', filename= project.hero_image)}}">
        <div class="content-details fadeIn-bottom">
          <h3 class="content-title">{{project.title}}</h3>
          <h6 class="content-text">{{project.byline}}</h6>
        </div>
      </a>
    </div>
  </div>

  {% endfor %}




</div><!--end container-->





            

{% endblock %}