{% extends 'layout.html' %}

{% block body %}

<div class="container">

    <div style="" class=" row">
        <div class="center-align">
            <h4 style="font-weight: 100;">{{current.title}}</h4>
            {% if current.byline| length >1 %}<h5 style="font-weight: 100;">{{current.byline}}</h5>{% endif %}
            <p style="font-weight: 100; display: inline;">({{current.year}})</p>
            
        </div>

<!-- <div class="col s12 m6 l8">
        <img class="materialboxed responsive-img" src="{{url_for('static', filename=current.hero_image)}}">
    </div> -->
    </div> <!--end row -->


<!-- carousel -->




<!-- NOVA IDEJA -->



{% with newdict=current.media|dictsort %}

{% set row_class = cycler('col s12 m8 l10  center-align', 'col s12 m4 l2 ', ) %}
   
    {% for k, v in newdict %}


      {% if loop.index is odd %} <div class="row flex {{loop.index}}">{% endif %}


        {#   lets chek if the sorce is local #}

        {% if 'http' in v %}
          {% set not_local =true %}
        {% endif %}


        {% if 'text' in k %}
        <div style="padding: 0.5em;"class="{{ row_class.next() }}">
            <p>{{v}}</p><!-- text -->
        </div>
        {% endif %}
        
        {% if 'video' in k  and not_local %}
            <div class="{{ row_class.next() }}">
                <div class="video-container  ">
                    <iframe src="{{v|safe}}"></iframe><!-- video -->
                </div>
            </div>
        {% endif %}

         {% if 'video' in k  and 'text' not in k and not not_local %}
         <div class="{{ row_class.next() }}">
            <video class="responsive-video" controls>
                <source src="{{v}}" type="video/mp4"><!-- video -->
            </video>
        </div>
        {% endif %}
        

        {% if 'img' in k and 'text' not in k %}
        <div class="{{ row_class.next() }}">
            <img style="display: inline-block;" class=" materialboxed responsive-img " data-caption="©2018 Aleksandar Jovanovic and Respective Studios | All images are for showreel purposes only." src="{% if not_local %} {{v}} {% else %} {{url_for('static', filename=v)}} {% endif %}"><!-- image -->
        </div>
        {% endif %}
    

   
    {% if loop.index is even %}</div>{% endif %}

    {% endfor %}

 
    
{% endwith %}




</div><!-- end container -->



{% endblock %}

