{% extends 'layout.html' %}

{% block body %}


<div class="container">
  <div>
    <h4 class="page_h center-align"> Showreel</h4>
  </div>
  


  <div class="row flex">
    <div class="col s12 m8 l10">
            <div class="video-container ">
              <iframe src="https://player.vimeo.com/video/170367649?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
             </div>
    </div>
    <div class="col s12 m4 l2">
    <p>2016 Showreel </br> </p>
      <p style="font-size: 0.8em;">Music by: Ratatat - Cream On Chrome</p>
    </div>
    </div>
</div>   



{% endblock %}